<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.LegBag" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LegBag</name>
    <description>
        An app to control a leg bag emptier
    </description>
    <author email="richard.barnes@berkeley.edu" href="http://rbarnes.org">Richard Barnes</author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.1.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-bluetoothle" spec="~4.3.1" />
    <plugin name="cordova-plugin-bluetooth-serial" spec="~0.4.6" />
    <plugin name="cordova-plugin-bluetooth-peripheral-usage-description" spec="~1.0.0">
        <variable name="TEXT" value="For connecting with leg bag device" />
    </plugin>
</widget>
